body{
    text-align: center;
        margin: 0 auto;
    background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
    background-repeat: no-repeat;
    
    font-family: "BalooTamma2", "NotoSansCJKtc", sans-serif;
    font-weight: bold;
    color: #333333;
    h1{
        font-size: 48px;
        line-height: 82px;
    }
    .box{
        margin: 0 auto 92px auto;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .add{
            display: flex;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
            border-radius: 10px 10px 10px 10px;
            input{
                width: 450px;
                border: transparent;
            }
            .save{
                width: 40px;
                height: 40px;
                color:white;
                font-size: 32px;
                background: #333333;
                border-radius: 10px;
                border-radius: 10px;
                margin: 4px;
            }
        }
        .main{
            // height: 536px;
            background: #FFFFFF;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
            border-radius: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .filter{
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                
                button{
                    border-top: transparent;
                    border-left: transparent;
                    border-right: transparent;
                    border-bottom: 2px solid #EFEFEF;
                    width: 33.33%;
                    background: #FFFFFF;
                    color: #9F9A91;
                    &:hover{
                        color:#333333;
                        border-bottom:2px solid #333333;
                    }
                    &:focus{
                        color:#333333;
                        border-bottom:2px solid #333333;
                    }
                }
            }
            .list{
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    .checkBox{
                        width: 20px;
                        height: 20px;
                        position:relative;
                        left: 15px;
                        border-radius: 5px 5px;
                        text-align: center;
                        border: 2px solid #333333;
                    }
                    a{
                        display: block;
                        width: 392px;
                        text-align: left;
                        border-bottom:1px solid #EFEFEF;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 24px;
                    }
                }
                
            }
            .footer{
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                .doneCount{
                    color: #333333;
                }
                .doneClear{
                    color:#9F9A91;
                    border: transparent;
                    background: white;
                    &:hover{
                        color:#FFD370;
                    }
                }
            }
        }
    }
}