/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
  background-repeat: no-repeat;
  font-family: "BalooTamma2", "NotoSansCJKtc", sans-serif;
  font-weight: bold;
  color: #333333;
}

body h1 {
  font-size: 48px;
  line-height: 82px;
}

body .box {
  margin: 0 auto 92px auto;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .box .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 10px 10px;
}

body .box .add input {
  width: 450px;
  border: transparent;
}

body .box .add .save {
  width: 40px;
  height: 40px;
  color: white;
  font-size: 32px;
  background: #333333;
  border-radius: 10px;
  border-radius: 10px;
  margin: 4px;
}

body .box .main {
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .box .main .filter {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .box .main .filter button {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #EFEFEF;
  width: 33.33%;
  background: #FFFFFF;
  color: #9F9A91;
}

body .box .main .filter button:hover {
  color: #333333;
  border-bottom: 2px solid #333333;
}

body .box .main .filter button:focus {
  color: #333333;
  border-bottom: 2px solid #333333;
}

body .box .main .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .box .main .list li .checkBox {
  width: 20px;
  height: 20px;
  position: relative;
  left: 15px;
  border-radius: 5px 5px;
  text-align: center;
  border: 2px solid #333333;
}

body .box .main .list li a {
  display: block;
  width: 392px;
  text-align: left;
  border-bottom: 1px solid #EFEFEF;
}

body .box .main .list li img {
  width: 20px;
  height: 20px;
  margin-right: 24px;
}

body .box .main .footer {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .box .main .footer .doneCount {
  color: #333333;
}

body .box .main .footer .doneClear {
  color: #9F9A91;
  border: transparent;
  background: white;
}

body .box .main .footer .doneClear:hover {
  color: #FFD370;
}

.mb-1 {
  margin-bottom: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.pt-2 {
  padding-top: 16px;
}

.pb-2 {
  padding-bottom: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.mr-3 {
  margin-right: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.check {
  display: none;
  cursor: pointer;
}

span {
  display: none;
}

.check:checked + span {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #ffd370;
  font-size: 20px;
}
/*# sourceMappingURL=all.css.map */